@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: oswald;
  src: url('./fonts/Oswald-VariableFont_wght.ttf') format('ttf');
}

body {
  background: rgb(50, 1, 71);
  background: linear-gradient(180deg, rgb(40, 1, 57) 0%, rgb(63, 2, 50) 50%, rgba(0, 0, 0, 1) 100%);
  font-family: oswald;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
